[
    "2018-09-07-what-is-life.md", 
    "2018-09-03-how-to-management-by-it-tools.md", 
    "2017-09-07-btc-and-lixiaolai.md", 
    "\u5982\u4f55\u8ba9\u804a\u5929\u66f4\u6709\u610f\u4e49.md", 
    "2017-02-17-chat-with-child.md", 
    "2017-02-16-chat-with-brain.md", 
    "2017-01-16-shenzhouyiqiao-chanpin-kunju.md", 
    "2017-01-11-what-is-ai.md", 
    "2017-01-11-sound-to-digital.md", 
    "2017-01-11-do-not-teach.md", 
    "2017-01-11-charater-to-digital.md"
]